@font-face {
    font-family: DINPro-Light;
    src: url("./assets/font/DINPro/DINPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: DINPro-Regular;
    src: url("./assets/font/DINPro/DINPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: DINPro-Medium;
    src: url("./assets/font/DINPro/DINPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500
}

body,html {
    font-size: 16px;
    font-family: sans-serif;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: DINPro-Regular,sans-serif;
    font-weight: 400;
    color: #1b1b1b;
    overflow-x: hidden
}

h2 {
    font-size: 24px;
    margin: 60px 0 20px
}

h3 {
    font-size: 22px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px;
    min-height: 60px
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

a,a:hover {
    color: #000;
    text-decoration: none
}

img {
    display: block;
    margin: auto
}

section {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain
}

article {
    font-size: 15px;
    line-height: 18px;
    padding: 50px 35px 60px 45px
}

form {
    padding: 25px 50px;
    background-color: #fff
}

form.form-light {
    background-color: hsla(0,0%,100%,.5)
}

.form-title {
    color: #043551
}

.text-white {
    color: #fff
}

.text-black {
    color: #000
}

.text-light {
    font-weight: lighter
}

.text-bold {
    font-weight: 700
}

.btn.btn-transparent {
    font-size: 18px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    transition: .5s ease
}

.btn.btn-transparent:hover {
    background-color: #000;
    color: #fff
}

.btn-blue {
    font-size: 20px;
    background-color: #043551;
    color: #fff;
    border: 2px solid transparent;
    transition: .5s ease
}

.btn-blue:hover {
    background-color: transparent;
    color: #043551;
    border: 2px solid #043551
}

.header-white {
    background-color: #fff
}

.header-black {
    background-color: #000
}

.logo {
    display: inline-block;
    margin: 8px 0
}

.nav>li>a {
    opacity: .8;
    border-bottom: 3px solid transparent;
    padding-right: 5px;
    padding-left: 5px
    transition: .5s ease
}

.nav>li.active>a {
    border-bottom-color: black;
}

.nav>li>a:hover {
    opacity: 1
}

.navbar-toggle {
    margin: 0;
    position: absolute;
    right: 0;
    color: #fff
}

.people-like-text {
    padding: 50px 0 100px
}

#our-work-section,.people-like-text {
    background-image: url("./assets/img3/bg-between.jpg");
    background-position: 50% 0
}

#our-work-section img {
    max-width: 100%
}

.section-cover {
    overflow: hidden
}

.section-covered-container {
    position: relative
}

.section-cover-img {
    display: block;
    margin: auto;
    min-height: 100%
}

.section-covered-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: perspective(1px) translateY(-50%)
}

.section-bg-img {
    position: relative;
    overflow: hidden
}

.section-bg-img>img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1
}

.advantages-section {
    position: relative;
    display: inline-block;
    margin: 80px 60px
}

.advantages-bg-img {
    max-width: 100%
}

.section-bg-img.bg-img-fuzzy>img {
    width: 300%;
    top: 0;
    left: -100%;
    right: -100%;
    overflow: hidden
}

.container {
    max-width: 960px
}

.home-text-col {
    position: relative
}

.home-text {
    position: absolute;
    max-width: 150px;
    margin: 0
}

.home-text-1 {
    font-size: 14px;
    top: 130px;
    right: 350px
}

.home-text-2 {
    top: 250px;
    left: 50px
}

.home-text-3 {
    bottom: 100px;
    left: 350px
}

.home-btn {
    bottom: 50px;
    left: 300px
}

.text-white>.home-text {
    background-color: rgba(0,0,0,.5)
}

.text-black>.home-text {
    background-color: hsla(0,0%,100%,.5)
}

.avatar {
    height: 140px
}

.avatar,.partner {
    width: 140px;
    display: inline-block
}

.partner {
    height: 36px
}

.avatar {
    max-width: 100%;
    border-radius: 50%;
    background-image: url("./assets/img3/people-sprite.jpg")
}

.partner {
    background-image: url("./assets/img3/sponsors-sprite.jpg")
}

.sprite-4 {
    background-size: 400%;
    background-repeat: no-repeat;
    overflow: hidden
}

.sprite-4-1 {
    background-position: 0 0
}

.sprite-4-2 {
    background-position: 33.3% 0
}

.sprite-4-3 {
    background-position: 66.6% 0
}

.sprite-4-4 {
    background-position: 100% 0
}

.video-panel-img {
    width: 100%
}

.panel {
    background-color: transparent
}

.list-item,.number-text {
    position: absolute;
    display: inline-block
}

.number-text {
    max-width: 160px;
    left: -60px;
    right: -60px;
    margin: auto
}

.number-text-top {
    bottom: 40px
}

.number-text-bottom {
    top: 40px
}

.list-item-1 {
    top: 33%;
    left: 0
}

.list-item-2 {
    top: -20px;
    left: 0;
    right: 0;
    margin: auto
}

.list-item-3 {
    top: 33%;
    right: 0
}

.list-item-4 {
    top: 66%;
    right: 0
}

.list-item-5 {
    bottom: -20px;
    right: 0;
    left: 0
}

.list-item-6 {
    top: 66%;
    left: 0
}

.number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    line-height: 40px;
    margin: auto
}

@media only screen and (max-width: 425px) {
    .home-text-1,.home-text-3,.home-btn {
        left:0;
        right: 0;
        margin: auto
    }

    .home-text-1 {
        top: 50%
    }

    .number-text {
        position: absolute;
        display: inline-block;
        max-width: 100px;
        left: -50px;
        right: -50px
    }

    .advantages-section {
        margin: 100px 25px
    }
}
