@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'LaurenScript';
    src: url('../fonts/LaurenScript/laurenscript-webfont.woff2') format('woff2'),
         url('../fonts/LaurenScript/laurenscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}