html{
    font-size: 18px;
}

html, body{
    -ms-overflow-style: none;
}

textarea { 
    resize: none;
}


img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

.cursor-pointer{
    cursor: pointer;
}

.help-block{
    font-family: 'Open Sans', sans-serif;
}

.help-block > ul{
    margin-top: -5px;
    margin-bottom: -10px;
    padding-left: 0px;
    list-style: none;
    text-align: center
}

.help-block >ul > li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #a94442;
}




.order-now-btn{
    position: relative;
    background: linear-gradient(to right, #f2cb29 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: #fff!important;
    border: 3px solid #f2cb29;
    text-transform: uppercase;
    padding: 5px 30px!important;
    transition: all 0.5s;
    margin: 7px 0px 7px 15px;
}

.order-now-btn:hover,
.order-form .order-now-btn,
.order-form-browse .order-now-btn{
    background-position:left bottom;
    color: #000;
}

.order-now-btn:after{
    content: ' ';
    position: absolute;
    width: 36px;
    height: 36px;
    margin: -3px 0;
    top: 0px;
    bottom: 0px;
    left: -18px;
    background: url(/img/icons.svg) left 0% top 100% / 300% no-repeat;
}

.white-text{
    color: #fff;
}

.yellow-text{
    color: #f2cb29;
}

.btn-full-width{
    width: 100%!important;
}


.need-styling{
    background: linear-gradient(to right, #f2cb29 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: #f2cb29;
    transition:all 1s ease;
    border: 3px solid #f2cb29;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 10px;
    height: 40px;
    width: 260px;
}

.need-styling:hover{
    background-position:left bottom;
    color: #1b1b1b;
}

.btn-big.need-styling{
    width: 370px;
    height: 60px;
    font-size: 1.65rem;
}


.loader-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #1b1b1b;
}

.loader {
    border: 5px solid #fff; /* Light grey */
    border-top: 5px solid #f2cb29; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.title {
    display: block;
    color: #f2cb29;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.sub-title{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

h1
{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #f2cb29;
}


.form-title{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}



.section-heading{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 40px;
}

.section-sub-heading{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    color: #909090;
}

.section-subheading{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
}

.section-custom-heading{
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}

#mainNav{
    background-color: transparent;
    border-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0, 0.9);
}

#mainNav>.container{
    position: relative;
}

.navbar-right > li{
    padding: 17px 0;
}

.navbar-toggle {
    margin: 30px 15px;
}

.navbar-brand {
    height: 84px;
}

.navbar-brand >img{
    height: 100%;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f2cb29;
}

.navbar-default .navbar-nav>.active>a{
    background-color: transparent!important;
}

.navbar-default .navbar-nav>li{
    border-top: 5px solid transparent;
}

.navbar-default .navbar-nav>.active{
    border-top: 5px solid #f2cb29;
}


.facebook-icon,
.insta-icon{
    width: 60px;
    height: 60px;
    opacity: 0.2;
    margin: 10px 0;
    transition: all 0.5s;
    display: inline-block;
}

.facebook-icon{
    background: url(/img/icons.svg) left 0% top 66% / 300% no-repeat;
}

.insta-icon{
    background: url(/img/icons.svg) left 100% top 66% / 300% no-repeat;
}

.facebook-icon:hover,
.insta-icon:hover{
    opacity: 1;
}

.contacts{
    color:#fff;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

#contacts a{
    text-decoration: none;
}


.contacts span{
    color:#fff;
    display: inline-block;
    height: 20px;
}

.copyrights{
    font-size: 1rem;
    color: #f2cb29;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.owl-prev,
.owl-next{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 95px;
    margin: auto!important;
    background-color: transparent!important;
}


.owl-prev{
    left: -25px;
}
.owl-next{
    right: -25px;
}

