@font-face {
  font-family: "ProximaNova-Light";
  src: url(../font/076d851b602b9915c429f3a2e436c639.otf) format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url(../font/410504d49238e955ba7dc23a7f963021.otf) format("truetype");
  font-style: normal;
  font-weight: 500; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "ProximaNova-Regular", sans-serif;
  overflow-x: hidden; }

h2 {
  font-size: 3.125rem; }

h3 {
  font-size: 1.875rem; }

h2,
h3 {
  font-weight: normal; }

p.font-big {
  font-size: 1.25rem; }

p {
  font-size: 1.125rem; }

p.font-small {
  font-size: 0.875rem; }

.font-light {
  font-family: 'ProximaNova-Light', sans-serif; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.brand {
  display: inline-block; }

main {
  background: url(../images/bg.jpg) 50% 0% no-repeat;
  min-height: 3050px; }

header {
  height: 72px; }

.section {
  overflow: hidden; }

.wellcome-section {
  height: 850px; }

.mirror-section {
  height: 1288px; }

.join-section {
  height: 540px; }

footer {
  color: #fefbfb;
  padding: 90px 0;
  height: 300px;
  overflow: hidden; }

footer > p {
  padding: 20px 0;
  opacity: 0.35; }

.gold-branch {
  padding: 0 40px 85px;
  position: relative; }

.gold-branch:before,
.gold-branch:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 190px;
  height: 118px;
  background: url(../images/gold-branch.png); }

.gold-branch:before {
  left: 0px; }

.gold-branch:after {
  right: 0px;
  transform: scaleX(-1); }

form {
  padding: 0 60px;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5); }

label > input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: 7px;
  text-align: left;
  color: #000;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #09183c;
  outline-color: transparent;
  margin-bottom: 25px; }

input::-webkit-input-placeholder {
  color: #1f4192;
  opacity: 0.4; }

input::-moz-placeholder {
  color: #1f4192;
  opacity: 0.4; }

input:-moz-placeholder {
  color: #1f4192;
  opacity: 0.4; }

input:-ms-input-placeholder {
  color: #1f4192;
  opacity: 0.4; }

.form-icon {
  display: block;
  position: relative; }

.form-icon input {
  padding-left: 120px; }

.form-icon:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 33px;
  left: 75px;
  top: 0;
  background-size: 300%;
  background: url(../images/form-icons.png);
  background-repeat: no-repeat; }

.form-icon-name:after {
  background-position: 0% 0%; }

.form-icon-email:after {
  background-position: 50% 0%; }

.form-icon-country:after {
  background-position: 100% 0%; }

.form-logos {
  display: block;
  margin: auto; }

.btn-blue {
  min-width: 250px;
  line-height: 3rem;
  color: #fff;
  background-color: #49536e;
  border-radius: 10px;
  font-size: 1.875rem;
  border: 2px solid #49536e;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out 0.1s; }

.btn-blue:hover {
  color: #49536e;
  background-color: #fff; }

.acceptTerms {
  margin: 10px 0 15px; }

.mirror-list {
  background: url(../images/arrows.png) 50% 0% no-repeat;
  padding-top: 80px; }

.mirror-icon {
  padding: 40px 0;
  height: 170px;
  position: relative;
  padding-left: 235px;
  display: inline-block; }

.mirror-icon:before {
  content: '';
  width: 235px;
  height: 235px;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/mirror-icons.png);
  background-size: 500%; }

.mirror-icon-1:before {
  background-position: 0% 0%; }

.mirror-icon-2:before {
  background-position: 25% 0%; }

.mirror-icon-3:before {
  background-position: 50% 0%; }

.mirror-icon-4:before {
  background-position: 75% 0%; }

.mirror-icon-5:before {
  background-position: 100% 0%; }

.join-block {
  margin-top: 300px;
  padding: 15px; }

.logo-partners-col > img {
  width: 100%; }

@media only screen and (max-width: 1170px) {
  .mirror-list {
    background: none; } }

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px; }
  form {
    padding: 0 20px; }
  .mirror-icon {
    padding-left: 135px; }
  .mirror-icon:before {
    width: 135px;
    height: 135px; }
  label > input {
    margin-bottom: 5px; }
  .form-icon input {
    padding-left: 25px; }
  .form-icon:after {
    left: 0px; }
  .join-block {
    background-color: rgba(255, 255, 255, 0.5); } }

@media only screen and (max-width: 425px) {
  footer {
    padding: 40px 0 0 0; } }
