doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		meta(name="theme-color" content="#fff")
		title Greeting App
		link(media="all" href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
		link(media="all" rel="manifest" href="./manifest.json")

	body.mdc-typography.demo-body
		div.img-preload
		.content.text-center
			.wrapper.cardPanel1.text-center
				.cards
					.col-12
						h2.cards
							.col-12.card
								p my name is pashka.
								p i am 
									a.card.tabs-nav(href="#" data-target="cardPanel2") frond-end developer 
								p check out my 
									a.card.tabs-nav(href="#" data-target="cardPanel3") works 
								p feel free to 
									a.card.tabs-nav(href="#" data-target="cardPanel5") contact 
				.cards
					.col-3
						h2.cards
							
						h2.cards
							
						h2.cards
							
						h2.cards
							
			.wrapper.cardPanel2.text-center
				.cards
					.card.col-12
						ul.tech-list
							li.ripple.dark
								img.au-target(src='/source/img/logos/html5-logo.webp', alt='html5')
								span.text HTML5
							li.ripple.dark
								img.au-target(src='/source/img/logos/css3-logo.webp', alt='css3')
								span.text Css3
							li.ripple.dark
								img.au-target(src='/source/img/logos/javascript-logo.webp', alt='javascript')
								span.text Javascript
							li.ripple.dark
								img.au-target(src='/source/img/logos/es6-logo.webp', alt='es6')
								span.text Es6
							li.ripple.dark
								img.au-target(src='/source/img/logos/bash-logo.webp', alt='bash')
								span.text Bash
							li.ripple.dark
								img.au-target(src='/source/img/logos/python-logo.webp', alt='python')
								span.text Python
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/ruby-logo.webp', alt='ruby')
								span.text Ruby
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/apps-script-logo.webp', alt='apps-script')
								span.text Apps-script
							li.ripple.dark
								img.au-target(src='/source/img/logos/jquery-logo.webp', alt='jquery')
								span.text Jquery
							li.ripple.dark
								img.au-target(src='/source/img/logos/jqueryUI-logo.webp', alt='jqueryUI')
								span.text JqueryUI
							li.ripple.dark
								img.au-target(src='/source/img/logos/bootstrap-logo.webp', alt='bootstrap')
								span.text Bootstrap
							li.ripple.dark
								img.au-target(src='/source/img/logos/gsap-logo.webp', alt='gsap')
								span.text GSAP
							li.ripple.dark
								img.au-target(src='/source/img/logos/express-logo.webp', alt='express')
								span.text Express
							li.ripple.dark
								img.au-target(src='/source/img/logos/angular-logo.webp', alt='angular')
								span.text Angular
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/angular20-logo.webp', alt='angular20')
								span.text Angular 2.0
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/react-logo.webp', alt='react')
								span.text React
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/ionic-logo.webp', alt='ionic')
								span.text Ionic
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/jasmine-logo.webp', alt='jasmine')
								span.text Jasmine
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/d3-logo.webp', alt='d3')
								span.text D3
							li.ripple.dark
								img.au-target(src='/source/img/logos/node-logo.webp', alt='node')
								span.text Node
							li.ripple.dark
								img.au-target(src='/source/img/logos/webpack-logo.webp', alt='webpack')
								span.text Webpack
							li.ripple.dark
								img.au-target(src='/source/img/logos/yarn-logo.webp', alt='yarn')
								span.text Yarn
							li.ripple.dark
								img.au-target(src='/source/img/logos/pug-logo.webp', alt='pug')
								span.text Pug
							li.ripple.dark
								img.au-target(src='/source/img/logos/sass-logo.webp', alt='sass')
								span.text Sass
							li.ripple.dark
								img.au-target(src='/source/img/logos/postcss-logo.webp', alt='postcss')
								span.text Postcss
							li.ripple.dark
								img.au-target(src='/source/img/logos/sublime-logo.webp', alt='sublime')
								span.text Sublime
							li.ripple.dark
								img.au-target(src='/source/img/logos/git-logo.webp', alt='git')
								span.text Git
							li.ripple.dark
								img.au-target(src='/source/img/logos/bem-logo.webp', alt='bem')
								span.text BEM
							li.ripple.dark
								img.au-target(src='/source/img/logos/pwa-logo.webp', alt='pwa')
								span.text PWA
							li.ripple.dark
								img.au-target(src='/source/img/logos/ps-logo.webp', alt='ps')
								span.text Ps
							li.ripple.dark.soon
								img.au-target(src='/source/img/logos/yeoman-logo.webp', alt='yeoman')
								span.text Yeoman
							li.ripple.dark
								img.au-target(src='/source/img/logos/mongo-logo.webp', alt='mongo')
								span.text Mongo
							li.ripple.dark
								img.au-target(src='/source/img/logos/sql-logo.webp', alt='sql')
								span.text Sql
							li.ripple.dark
								img.au-target(src='/source/img/logos/postgresql-logo.webp', alt='postgresql')
								span.text postgresq
				a.tabs-nav.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light(href="#" data-target="cardPanel1")
					svg.back-icon-svg
						use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
			.wrapper.cardPanel3.text-center
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/27pearls-small.webp" data-mobile-src='/source/img/screenshots/27pearls/mobile/index.webp' data-src='/source/img/screenshots/27pearls/desktop/index.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/testimonials.webp' data-src='/source/img/screenshots/27pearls/desktop/testimonials.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/contacts.webp' data-src='/source/img/screenshots/27pearls/desktop/contacts.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/gallery.webp' data-src='/source/img/screenshots/27pearls/desktop/gallery.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/article-item.webp' data-src='/source/img/screenshots/27pearls/desktop/article-item.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/about.webp' data-src='/source/img/screenshots/27pearls/desktop/about.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/article-list.webp' data-src='/source/img/screenshots/27pearls/desktop/article-list.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/room-item.webp' data-src='/source/img/screenshots/27pearls/desktop/room-item.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/room-list.webp' data-src='/source/img/screenshots/27pearls/desktop/room-list.webp' alt="27pearls site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/27pearls/mobile/services.webp' data-src='/source/img/screenshots/27pearls/desktop/services.webp' alt="27pearls site index page preview")
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group 27pearls
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls') index
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/about.html') about
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/gallery.html') gallery
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/services.html') services
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/room-list.html') room-list
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/room-item.html') room-item
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/article-list.html') article-list
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/article-item.html') article-item
									li 
										a(target="_blank" rel="noopener" href='./sites/27pearls/testimonials.html') testimonials
								<br>
								ul.btn-group
									li
										strong tools
									li jquery,
									li bootstrap,
									li bootstrap-datepicker3,
									li lightslider,
									li google maps
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/air-small.webp" data-mobile-src='/source/img/screenshots/air/mobile/index.webp' data-src='/source/img/screenshots/air/desktop/index.webp' alt="air site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/air/mobile/portfolio-list.webp' data-src='/source/img/screenshots/air/desktop/portfolio-list.webp' alt="air site portfolio-listing page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/air/mobile/portfolio-item.webp' data-src='/source/img/screenshots/air/desktop/portfolio-item.webp' alt="air site portfolio-card page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/air/mobile/blog-list.webp' data-src='/source/img/screenshots/air/desktop/blog-list.webp' alt="air site blog-listing page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/air/mobile/blog-item.webp' data-src='/source/img/screenshots/air/desktop/blog-item.webp' alt="air site blog-card page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/air/mobile/about.webp' data-src='/source/img/screenshots/air/desktop/about.webp' alt="air site about page preview") 
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group air
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/air') index
									li 
										a(target="_blank" rel="noopener" href='./sites/air/portfolio-listing.html') portfolio-listing
									li 
										a(target="_blank" rel="noopener" href='./sites/air/portfolio-card.html') portfolio-card
									li 
										a(target="_blank" rel="noopener" href='./sites/air/blog-listing.html') blog-listing
									li 
										a(target="_blank" rel="noopener" href='./sites/air/blog-card.html') blog-card
									li 
										a(target="_blank" rel="noopener" href='./sites/air/about.html') about
								<br>
								ul.btn-group
									li 
										strong tools 
									li jquery,
									li bootstrap,
									li jquery
									li babylongrid
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/raceism-small.webp" data-mobile-src='/source/img/screenshots/raceism/mobile/index.webp' data-src='/source/img/screenshots/raceism/desktop/index.webp' alt="raceism site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/raceism/mobile/blog-list.webp' data-src='/source/img/screenshots/raceism/desktop/blog-list.webp' alt="raceism site blog-list page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/raceism/mobile/blog-item.webp' data-src='/source/img/screenshots/raceism/desktop/blog-item.webp' alt="raceism site blog-item page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/raceism/mobile/order-form.webp' data-src='/source/img/screenshots/raceism/desktop/order-form.webp' alt="raceism site order-form page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/raceism/mobile/order-form-browse-design.webp' data-src='/source/img/screenshots/raceism/desktop/order-form-browse-design.webp' alt="raceism site order-form-browse-design page preview") 
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group raceism
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/raceism') raceism
									li 
										a(target="_blank" rel="noopener" href='./sites/raceism/blog-list.html') blog-list
									li 
										a(target="_blank" rel="noopener" href='./sites/raceism/blog-item.html') blog-item
									li 
										a(target="_blank" rel="noopener" href='./sites/raceism/order-form.html') order-form
									li 
										a(target="_blank" rel="noopener" href='./sites/raceism/order-form-browse-design.html') order-form-browse-design
								<br>
								ul.btn-group
									li 
										strong tools 
									li jquery,
									li bootstrap,
									li lightslider,
									li easing,
									li waypoints,
									li nicescroll,
									li animate.css
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/escort-small.webp" data-mobile-src='/source/img/screenshots/elit2ds/mobile/index.webp' data-src='/source/img/screenshots/elit2ds/desktop/index.webp' alt="elit2ds site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/elit2ds/mobile/countries.webp' data-src='/source/img/screenshots/elit2ds/desktop/countries.webp' alt="elit2ds site countries page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/elit2ds/mobile/cities.webp' data-src='/source/img/screenshots/elit2ds/desktop/cities.webp' alt="elit2ds site cities page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/elit2ds/mobile/list-girls.webp' data-src='/source/img/screenshots/elit2ds/desktop/list-girls.webp' alt="elit2ds site list-girls page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/elit2ds/mobile/girl.webp' data-src='/source/img/screenshots/elit2ds/desktop/girl.webp' alt="elit2ds site girl page preview")
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group elit2ds
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/escort') index
									li 
										a(target="_blank" rel="noopener" href='./sites/escort/countries.html') countries
									li 
										a(target="_blank" rel="noopener" href='./sites/escort/cities.html') cities
									li 
										a(target="_blank" rel="noopener" href='./sites/escort/list-girls.html') list-girls
									li 
										a(target="_blank" rel="noopener" href='./sites/escort/girl.html') girl
								<br>
								ul.btn-group
									li 
										strong tools 
									li jquery,
									li bootstrap,
									li jquery.jcarousel,
									li jcarousel.connected-carousels
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/owell-small.webp" data-mobile-src='/source/img/screenshots/owell/mobile/index.webp' data-src='/source/img/screenshots/owell/desktop/index.webp' alt="owell site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/service-list.webp' data-src='/source/img/screenshots/owell/desktop/service-list.webp' alt="owell site service-list page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/service-item.webp' data-src='/source/img/screenshots/owell/desktop/service-item.webp' alt="owell site service-item page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/portfolio-list.webp' data-src='/source/img/screenshots/owell/desktop/portfolio-list.webp' alt="owell site portfolio-list page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/portfolio-item.webp' data-src='/source/img/screenshots/owell/desktop/portfolio-item.webp' alt="owell site portfolio-item page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/about-us.webp' data-src='/source/img/screenshots/owell/desktop/about-us.webp' alt="owell site about-us page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/testimonials.webp' data-src='/source/img/screenshots/owell/desktop/testimonials.webp' alt="owell site testimonials page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/blog-list.webp' data-src='/source/img/screenshots/owell/desktop/blog-list.webp' alt="owell site blog-list page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/blog-item.webp' data-src='/source/img/screenshots/owell/desktop/blog-item.webp' alt="owell site blog-item page preview") 
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/owell/mobile/contacts.webp' data-src='/source/img/screenshots/owell/desktop/contacts.webp' alt="owell site contacts page preview") 
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group owell
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/owell') home
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/service-list.html') service-list
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/service-item.html') service-item
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/portfolio-list.html') portfolio-list
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/portfolio-item.html') portfolio-item
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/about-us.html') about-us
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/testimonials.html') testimonials
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/blog-list.html') blog-list
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/blog-item.html') blog-item
									li 
										a(target="_blank" rel="noopener" href='./sites/owell/contacts.html') contacts
								<br>
								ul.btn-group
									li 
										strong tools 
									li vanilla js,
									li lory
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-4
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img.lazy.screenshot.screenshot-preview(src="/source/img/preview/lawers-small.webp" data-mobile-src='/source/img/screenshots/lawers/mobile/index.webp' data-src='/source/img/screenshots/lawers/desktop/index.webp' alt="lawers site index page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/lawers/mobile/service.webp' data-src='/source/img/screenshots/lawers/desktop/service.webp' alt="lawers site service page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/lawers/mobile/blog-list.webp' data-src='/source/img/screenshots/lawers/desktop/blog-list.webp' alt="lawers site blog page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/lawers/mobile/blog-item.webp' data-src='/source/img/screenshots/lawers/desktop/blog-item.webp' alt="lawers site blogpost page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/lawers/mobile/about.webp' data-src='/source/img/screenshots/lawers/desktop/about.webp' alt="lawers site about-us page preview")
								img.lazy.screenshot(src="/source/img/1x1.gif" data-mobile-src='/source/img/screenshots/lawers/mobile/contacts.webp' data-src='/source/img/screenshots/lawers/desktop/contacts.webp' alt="lawers site contacts page preview")
							.card__content.ripple.dark.card-shadowed
								h2.card__caption.btn-group lawers
								<br>
								ul.btn-group
									li
										h3 pages
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers') lawers
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers/service.html') service
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers/blog.html') blog
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers/blogpost.html') blogpost
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers/about.html') about-us
									li 
										a(target="_blank" rel="noopener" href='./sites/lawers/contacts.html') contacts
								<br>
								ul.btn-group
									li 
										strong tools 
									li jquery,
									li bootstrap,
									li google maps
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-12
					a.tabs-nav.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light(href="#" data-target="cardPanel1")
						svg.back-icon-svg
							use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
			.wrapper.cardPanel4.text-center
				.col-3
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img(src='/source/img/preview/projects.webp' alt="projects site index page preview")
							.card__content.card-shadowed
								h2.card__caption.btn-group web-gallery
								.card__copy
									a(target="_blank" rel="noopener" href='./sites/web-gallery/eye') web-gallery/eye
									a(target="_blank" rel="noopener" href='./sites/web-gallery/mandala/') web-gallery/mandala
									a(target="_blank" rel="noopener" href='./sites/web-gallery/sportsmen/') web-gallery/sportsmen
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-3
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img(src='/source/img/preview/projects.webp' alt="projects site index page preview")
							.card__content.card-shadowed
								.card__caption
									h2 image-editor
								.card__copy
									a(target="_blank" rel="noopener" href='./sites/image-editor') image-editor
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-3
					.card.expanded-card
						.card__container.card-shadowed.card__container--closed
							.card__image.ripple.dark
								img(src='/source/img/preview/projects.webp' alt="projects site index page preview")
							.card__content.card-shadowed
								.card__caption
									h2 web-gallery
								.card__copy
									a(target="_blank" rel="noopener" href='./sites/web-gallery/eye') web-gallery/eye
									a(target="_blank" rel="noopener" href='./sites/web-gallery/mandala/') web-gallery/mandala
									a(target="_blank" rel="noopener" href='./sites/web-gallery/sportsmen/') web-gallery/sportsmen
							.card__btn-close.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light
								svg.back-icon-svg
									use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
				.col-12
					a.tabs-nav.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light(href="#" data-target="cardPanel1")
						svg.back-icon-svg
							use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
			.wrapper.cardPanel5.text-center
				.col-12.card
					iframe(name="hidden_iframe" id="hidden_iframe" style="display:none;")
					form.form(action="https://docs.google.com/forms/d/e/1FAIpQLSdJGPTlN7QaOSyJsftmq_X0XeWZuzKKY_G5WAaRaLCXYEnsZw/formResponse" method="post" target="hidden_iframe" id="mG61Hd")
						.form-groups
							.form-group
								input.form-control(type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Вопрос1" aria-describedby="i.desc.1330596970 i.err.1330596970" name="entry.2000632753" value="" required="false" dir="auto" data-initial-dir="auto" data-initial-value="" placeholder=" ")
								label Email
							.form-group
								textarea.form-control(class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Вопрос2" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="false" name="entry.1302146763" dir="auto" data-initial-dir="auto" data-initial-value="" placeholder=" ")
								label Message
						button(type="submit").btn.btn-round.card-shadowed.btn-blue.ripple.dark 
							svg.back-icon-svg
								use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_check_24px')
				.col-12
					.card.text-center
						a.btn-group(href="https://telegram.me/postpashka")
							svg.social-icons
								use(xlink:href='/source/img/social-icons.svg#send-light')
					.card.text-center
						a.btn-group(href="https://vk.com/postpashka")
							svg.social-icons
								use(xlink:href='/source/img/social-icons.svg#vk')
				.col-12
					a.tabs-nav.btn-close.btn.btn-round.card-shadowed.btn-blue.ripple.light(href="#" data-target="cardPanel1")
						svg.back-icon-svg
							use(xlink:href='/source/img/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px')
