*
	padding: 0
	margin: 0
	box-sizing: border-box

body, html
	height: 100%
	width: 100%
	font-size: 16px;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 2px #000
	background: linear-gradient(to bottom right, #5967C3, #83cedc)
	text-align: center

a
	color: #fff;
	text-shadow: 2px 2px 2px #000
	text-decoration: underline;

a:hover
	text-decoration: none;

li
	list-style: none;
	display: inline-block;

h2 
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 100;

nav
	position: fixed;
	top: 0;
	right: 0;
	font-size: 3rem;
	z-index: 9

// helpers

.pull-left
	float: left

.text-center
	text-align: center;

.text-left
	text-align: left;

.text-right
	text-align: right;

.img-preload
	position: absolute;
	left: -500%;
	top: -500%;

// content

.content
	overflow: hidden;
	height: 100%;

.content:before
	content: " ";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
	margin-left: -5px;

.wrappers
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	overflow: overlay;
	width: 110%;
	margin: 0 -5%;
	padding: 0 5%;

.tabs-nav
	position: relative;
	margin: 0;

.wrapper
	vertical-align: middle;
	overflow: overlay;
	max-height: 100%;
	width: 110%;
	margin: 0 -5%;
	padding: 5% 10%;
	display: none;

.wrapper.active
	display: inline-block;


//------------------------------

// CARD

.card
	display: inline-block;

a.card
	display: inline;

.expanded-card
	width: 100%;
	position: relative
	height: 0
	margin: 1%
	padding-bottom: 100%;

.col-2_4
	display: inline-block;
	width: 20%

.col-3
	display: inline-block;
	width: 25%

.col-4
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 10px;
	max-width: 320px;

.col-4>img
	display: inline-block;
	vertical-align: top;

.col-6
	display: inline-block;
	width: 50%
	margin: 0 -1px;
	vertical-align: middle;

.col-8
	display: inline-block;
	width: 66%;

.col-12
	display: inline-block;
	width: 100%


.card__container
	position: fixed
	top: 0
	left: 0
	overflow: hidden;
	width: 100%
	height: 100%
	-webkit-transform: translate3d(0, 0, 0)
	-webkit-overflow-scrolling: touch

.card__container--closed
	overflow: hidden
	position: absolute

.card__container--closed .card__image
	overflow: hidden

.card__image
	width: 100%;
	max-height: 100%;
	height: 100%;
	overflow-x: hidden;
	display: block;
	// -webkit-transform: translateX(-50%)
	// -ms-transform: translateX(-50%)
	// transform: translateX(-50%)
	background-color: #fff;

.card__container--closed .card__image>img
	pointer-events: none;

.card__container--closed .card__image
	cursor: pointer

.card__content
	position: absolute;
	top: 95%;
	max-width: 1024px;
	background: linear-gradient(to bottom right, #5967C3, #83cedc)
	// transform: translateY(-120%);
	left: 0;
	right: 0;
	padding: 10px 10px 20px; 
	margin: auto;

.card__container--closed .card__content
	// transform: translateY(0%)
	-webkit-transform: translateY(-3.5rem)
	-ms-transform: translateY(-3.5rem)
	transform: translateY(-3.5rem)
	pointer-events: none

.card__caption
	padding: 10px;

.card__copy
	padding: 0 0px 20px;

.card__container--closed .card__btn-close
	visibility: hidden;
	opacity: 0;

.card-shadowed
	background-color: #fff
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.2s ease-in-out;


.form
	margin: 50% 0;
	padding: 45px 15px;
	max-width: 480px;
	margin: auto;
	overflow: hidden;

.form-groups
	height: auto;
	transition: all 0.4s ease-in-out;
	overflow: hidden;

.form-group
	position: relative;
	margin: 20px 0 60px 0;
	transition: all 0.4s ease-in;

.form-control
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 1rem;
	resize: none;
	border-color: #e0e0e0;
	outline-style: none;
	background-color: transparent;
	color: #fff
	max-height: 35px;
	transition: all 0.4s ease-in;

.form-control
	border-width: 0px 0px 1px 0px;

.form-control:active,
.form-control:focus
.form-control:valid
	border-color: #9224a6;

.form-control:not(:placeholder-shown):invalid
	border-color: red;

.form-control+label
	position: absolute
	top: -50%;
	left: 15px;
	opacity: 1;
	transform: scale(1.25);
	transition: all 0.2s ease-out;

.form-control:active+label,
.form-control:focus+label,
.form-control:valid+label,
.form-control:not(:placeholder-shown)+label
	opacity: 0.75;
	transform: scale(1);
	top: -75%;

form .card-shadowed
	display: block;
	transition: all 0.4s ease-in;

.btn
	display: inline-block;
	border: 0px;
	outline-style: none;
	padding: 10px;

.btn.btn-round
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: auto;
	z-index: 2;

.btn-group
	display: inline-block;

.btn-block
	display: block;
	margin: auto;

.btn-purple
	background-color: #9224a6;

.btn-blue
	color: #fff
	background: linear-gradient(to top left, #5967C3, #83cedc)

.btn-close
	position: absolute;
	left: 15px;
	top: 15px;
	text-decoration: none

.card-shadowed:hover
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
.card-shadowed:hover:active
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

.ripple
	display: inline-block;

.ripple-container
	position: absolute
	left: 0
	top: 0
	height: 0
	width: 0
	pointer-events: none
	overflow: hidden
	z-index: 999

.ripple-effect
	margin-top: 0px
	margin-left: 0px
	width: 1px
	height: 1px
	background-color: rgba(0, 0, 0, 0.025)
	border-radius: 50%
	pointer-events: none

.ripple-effect-slow
	transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1)

.ripple-effect-fast
	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1)

.ripple-effect
	&.light
		background-color: rgba(255, 255, 255, 0.1)
	&.exstra-light
		background-color: rgba(255, 255, 255, 0.5)
	&.dark
		background-color: rgba(0, 0, 0, 0.05)

.screenshot
	display: inline-block;
	max-width: 100%;
	vertical-align: top;

.screenshot-preview
	width: 100%;

.screenshot-col
	vertical-align: top;


.tech-list>li
	width: 90px;
	height: 110px;
	margin: 5px;
	position: relative;

.tech-list>li>img
	max-width: 100%;

.tech-list>li>span
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;

.tech-title>span
	line-height: 5rem;

.soon
	position: relative

.soon:after
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9;
	left: 0;
	top: 0;

.social-icons
	width: 44px;
	height: 44px;
	fill: transparent;
	-webkit-filter: drop-shadow( 2px 2px 2px #000);
	filter: drop-shadow( 2px 2px 2px #000);


.back-icon-svg
	width: 100%;
	height: 100%;
	-webkit-filter: drop-shadow(2px 2px 2px #000);
	filter: drop-shadow(2px 2px 2px #000);

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.tech-list>li
		width: 80px;
		height: 100px;
		margin: 1px;

	.card__caption
		padding: 5px;
		font-size: 1.5rem;


@media only screen and (max-width : 425px)
	.col-4
			width: 40%;
	.col-3
			width: 99%;